.jumbotron {
    background: none;
}


p {
    text-align: justify;
}

img.product {
    height: auto;
    width: 300px;
    border-radius: 10px;
}

.price {
    font-weight: bold;
}

.inventory-message {
    font-weight: bold;
    padding-left: 30px;
}

.rating {
    padding-top: 30px;
}